/* alles nur geklaut: https://www.w3schools.com/howto/howto_js_copy_clipboard.asp */
.leafexttooltip {
position: relative;
display: inline-block;
}
.leafexttooltip .leafextcopy {
visibility: hidden;
width: 140px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px;
position: absolute;
z-index: 1;
bottom: 150%;
left: 50%;
margin-left: -75px;
opacity: 0;
transition: opacity 0.3s;
}
.leafexttooltip .leafextcopy::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}
.leafexttooltip:hover .leafextcopy {
visibility: visible;
opacity: 1;
}
